body, html{
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #FCFCFC;
}

.wrapper{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header{
  background:url('../images/park01.jpg');
  background-size: cover;
  background-position: center;
  background-color: #CCCCCC;
}

.header-content{
  padding: 1em;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);


  -webkit-animation: fadein 4s; 
  -moz-animation: fadein 4s; 
  -ms-animation: fadein 4s; 
  -o-animation: fadein 4s; 
  animation: fadein 4s;
}

.logo{
  margin: 0 auto;
  width: 512px;
}

h1{
  margin: 0;
  font-family: 'Heartbeat';
  color: #27AE60;
  text-shadow: 
    3px 3px 0 #FCFCFC,
    -1px -1px 0 #FCFCFC,  
    1px -1px 0 #FCFCFC,
    -1px 1px 0 #FCFCFC,
    1px 1px 0 #FCFCFC;
    text-align: center;
}


@media (max-width: 480px) {
  .hidden-on-lg{
    display: block;
  }
  .hidden-on-sm{
    display: none;
  }
  .sidy-by-side{
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 1024px) {
  .logo{
    margin: 0 auto;
    width: 256px;
  }

  .row{
    flex-direction: column;
  }
}


@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

nav {
    color: black;
}

a {
    text-shadow: 
    3px 3px 0 #FCFCFC,
    -1px -1px 0 #FCFCFC,  
    1px -1px 0 #FCFCFC,
    -1px 1px 0 #FCFCFC,
    1px 1px 0 #FCFCFC;
    text-decoration: none;
    color: #3485ff;
}



