table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    
}



th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0076ad;
    color: white;
}


tbody tr:nth-child(odd) {
    background-color: #d0f0ff;
}
tr:nth-child(odd):hover {
        background-color: #39e0fda6;
    
}

tr:hover {
    background-color: #39e0fda6;
    
}

td .edit {text-shadow: none;
    color:rgb(143, 141, 248);
font-weight: bold;}

td .edit:hover 
{ 
    color: white;
    font-weight: bold;
}

td .delete {text-shadow: none;
    color:rgb(255, 0, 0);
font-weight: bold;}

td .delete:hover 
{ 
    color: rgb(179, 1, 1);
    font-weight: bold;
}

.container {
    max-width: 750px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
}

.taskContainer {
    margin: 25px 10px 25px 10px;
    flex: 1 1 300px; 
    max-width: calc(33% - 1em); 
    
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.form-submit {text-align: center;}

.form-group
    {
    margin-top: 5px;
    margin-bottom: 15px;
    }



.submit
{
background-color:#9fdffd;
border: 1px solid #00adfd;
width: 240px;
height: 40px;
font-weight: bold;

}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 97%;
    padding: 10px;
    border: 1px solid #bef2ff;
    border-radius: 6px;
    font-size: 14px;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #bef2ff;
    border-radius: 6px;
    font-size: 14px;
}

.center
{
    text-align: center;
    
}

.name
{
    font-weight: Bold;
    margin-bottom: 10px;
}

.choice a
{

padding-left: 15px;
padding-right: 15px;
justify-content: space-around;
width: 150px;;
border: 1px solid #abedfd;
border-radius: 6px;
margin: 15px;
background-color: #d0f0ff;
}